.container {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
.side-navbar {
  background: rgb(49, 62, 169);
  background: linear-gradient(
    198deg,
    rgba(49, 62, 169, 1) 35%,
    rgba(108, 49, 197, 1) 100%
  );
  
  color: #A6A5E4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  border-radius: 20px;
  height: 110vh;
}
.nav-list {
  position: relative;
  padding: 35px;
  width: 100%;
  list-style: none;
}

.nav-list > * {
  margin: 10px 0;
}
.nav-list hr {
  width: 100%;
  border:1px solid #A6A5E4;
}
.nav-list-item {
    color: #A6A5E4;
  font-size: 15px;
  cursor: pointer;
}

.nav-list-item.active {
  color: #fff;
  cursor: default;
}

.arrow-icon {
  position: absolute;
  padding: 1px 6px;
  width: 20px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
  right: 0;
}

.arrow-icon::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: transparent;
  right: 0;
  bottom: 100%;
  border-bottom-right-radius: 5px;
  box-shadow: 4px 5px 0 0;
  color: #fff;
}
.arrow-icon::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: transparent;
  top: 100%;
  right: 0;
  border-top-right-radius: 5px;
  box-shadow: 5px -4px 0 0;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .side-navbar {
    width: 100%;
    background: black;
    height: 50px;
    display: flex;
    flex-direction: row;
  }
  .nav-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .arrow-icon {
    display: none;
  }
  .nav-list hr {
    display: none;
  }
}
/* Headercomponent */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.user-profile-account {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-account p {
  margin-left: 10px;
}
.user-profile-account-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.header hr{
    border: 1px solid #CCCCCC;
}

/* user profile detail */

.profile-detail-container {
  padding: 25px 10px;
  display: grid;
  grid-template-columns: 1.5fr 0fr 3fr;
}
.profile-detail {
  padding: 5px;
  color: #545454;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-detail img {
  width: 130px;
  /* height: 180px; */
  border-radius: 100%;
}

.user-detail {
    width: 100%;
    display: flex;
    margin: 8px 0px;
}

.detail-title {
  font-weight: 200;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  color: #b3b3b3;
}

.user-detail span:nth-child(2) {
  font-weight: 600;
  word-wrap: break-word;
  max-width: 150px;
}

.company-heading {
  color: #b3b3b3;
  text-align: center;
  margin: 10px;
}

.profile-detail h3 {
    text-align: center;
}

.address-heading {
  color: #b3b3b3;
}
.address-detail {
  padding: 0 30px;
  color: #545454;
}

.map-location {
  border: none;
  margin-left: 20px;
  width: 100%;
  height: 350px;
  border-radius: 30px;
}

.lat-lng {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
}
.lat-lng > * {
  margin: 10px;
}

.lat-lng span:nth-child(1) {
  color: #b3b3b3;
}

.profile-detail-container .vertical-hr {
    margin: 10px 0;
    border: 1px solid #CCCCCC;
}
/* Profile account */

.profile-card {
    overflow: hidden;
    height: 300px;
    position: absolute;
    background-color: #FFFFFF;
    top: 16%;
    left: 78%;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 0 40px 2px lightgrey;
}

.profile-account {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}

.proile-card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.proile-card-user p:nth-child(3){
    color: #CCCCCC;
}

.profile-card-user-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.user-suggestion-container {
    list-style: none;
    max-height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px 25px;
}
.user-suggestion-container::-webkit-scrollbar {
  width: 5px;
  margin: 10px;
}
.user-suggestion-container::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}

.user-suggestion-list {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 5px 15px;
    padding: 10px;
}

.user-suggestion-list:hover {
  cursor: pointer;
}
.user-suggestion-list img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.user-suggestion-list  p{
    font-size: 12px;
}

.sign-out{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-out button{
    cursor: pointer;
    font-family: inherit;
    border-radius: 20px;
    border: none;
    background-color: #D55151;
    padding: 5px 10px;
    color: white;
    font-weight: 900px;
}